[submodule "pack/my-plugins/start/vim-airline"]
	path = pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/my-plugins/gruvbox"]
	path = pack/my-plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/my-plugins/start/nerdtree"]
	path = pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/my-plugins/start/youcompleteme"]
	path = pack/my-plugins/start/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "pack/my-plugins/start/scvim"]
	path = pack/my-plugins/start/scvim
	url = https://github.com/supercollider/scvim
[submodule "pack/my-plugins/start/vimwiki"]
	path = pack/my-plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
